<html>
    <head>
        <title>Connect to FitnessWatcher</title>
        <link rel="stylesheet" href="/landing/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <section id="intro">
        <div class="headcopy">
            <h1>The world is your gym.</h1>
            <p>FitnessWatcher is a free all-day activity tracker that inspires you to be more active and helps you to move at least 30 minutes, every day.</p>
            <a href="/auth/fitbit" class="button">Authorize me</a>
            <a class="button" href="/">Staff login</a>
        </div>
    </section>
    </body>
</html>